*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

#container{
    background-color: rgb(6, 1, 13);
  
}
#fresh{
    font-size: 50px;
    font-weight: 600;
}
hr{
    color: white;
}
@media(max-width:568px) {
    #fresh{
        margin-top: 0px!important;
        font-size: 30px;
    }
    #section1text{
        margin-top: 0px!important;
        padding-top: 0px!important;
        padding-bottom: 30px !important;
    }
    #row{
        padding-top: 0px!important;
    }
    .nav-link{
        text-align: center;
    }
    
}
@media(max-width:1200px) {
    #fresh{
        margin-top: 0px!important;
        font-size: 40px;
    }
  #section2text{
    padding-top: 15px!important;
  }
   #section2h1{
    font-size: 25px!important;
   }
   #img3{
    margin: 10px!important;
   }
#addtocart{
    font-size: 12px;
    padding: 7px 15px !important;
}
#our{
padding-bottom: 0px!important;
margin-bottom: 0px !important; 
}
}
@media(max-width:800px) {
    #fresh{
        padding-top: 0!important;
        font-size: 25px!important;
    }
    .nav-link{
        text-align: center;
    }
    #section2h1{
       margin-top: 20px !important;
        width: 100%!important;
       }
       #section2text{
        padding: 5px 15px!important;
        padding-bottom: 20px !important;
       }
       #img3{
        margin: 0px!important;
       }
       #aboutus{
        margin: 0 !important;
        padding: 0 !important;
       }
       #our{
        padding-bottom: 0px!important;
        margin-bottom: 0px !important;
       }
}
#section2p{
    color: rgb(189, 184, 184)!important;
    width: 95%;
    font-size: 15px;
}
.small{
    font-size: 15px !important;
    color: gray;
}
#icon:hover{
    transition: 1s ease;
    color: rgb(174, 106, 12) !important;
}